<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ .Title }}</title>
  <style type="text/css">
  @font-face {
    font-family: 'NDKaputt';
    src: url('https://dev.latency.at/fonts/NDKaputtOffice-Medium.eot');
    src: url('https://dev.latency.at/fonts/NDKaputtOffice-Medium.eot?#iefix') format('embedded-opentype'),
         url('https://dev.latency.at/fonts/NDKaputtOffice-Medium.woff2') format('woff2'),
         url('https://dev.latency.at/fonts/NDKaputtOffice-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  </style>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage" style="
  font-size: 24px;
  background-color: rgb(232, 236, 255);
  color: rgb(24, 35, 47);
  font-family: NDKaputt, sans-serif;
  padding: 1em;
">
  <div style="margin: auto; max-width: 500px" id="intro">
    <div style="text-align: center">
      <h1 style="font-size: 56px; margin-top: 0">{{ .Title }}</h1>
      <p style="font-size: 34px">{{ .Intro }}</p>
    </div>
    <div id="body">
      <p style="margin-bottom: 1em">
        {{ .Body }}
      </p>
      <a href="{{ .URL }}" style="
        display: block;
        padding: 1em;
        color: white;
        background-color: rgb(68, 120, 240);
        border-radius: 1px;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center" itemprop="url">{{ .ButtonText }}</a>
    </div>
    <div id="footer">
      <a href=""></a>
    </div>
  </div>
</body>
</html>
